/* body {
  background: #c0ffee;
}

.App{
  margin: lem;
  font-family: "Avenir", "Arial", sans-serif;
}

.list{
  list-style: none;
}

.list-item{
  padding: lem;
  display: flex;
  flex: 1;
  align-items: center;
  border: 0.25cm solid #cacaca;
  margin-bottom: lem;
}

.list-item-image-container{
  flex: 1;
}

.list-item-image-container >img{
  height: 4cm;
}

.list-item-name{
  flex: 3;
}

.list-item-power{
  font-weight: bolder;
  color: #ff0000;
} */

.header-container {
  margin: 15px;
  background-color: yellow;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
.card-container {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  font-weight: bold;
}